.table-header {
    background-color: #327ebd;
    color: white;
    padding: 0 5px;
}
.table-container {
    padding: 5px 15px 15px 15px;
}
.table-component-holder {
    border: 1px solid #327ebd;
    background-color: white;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
    font-family:Roboto,"Helvetica Neue",sans-serif;
}
table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}
table tr:nth-child(odd) td{
    font-family:Roboto,"Helvetica Neue",sans-serif;
  }
table tr:nth-child(even) td{
    background:rgba(145, 151, 187, 0.34);
    font-family:Roboto,"Helvetica Neue",sans-serif;
}
/deep/ .mat-sort-header-container{
        justify-content: center;
}

table th,
table td {
    padding: .625em;
    text-align: center;
    font-family:Roboto,"Helvetica Neue",sans-serif;
}
table th {
    background:#cfcfcf;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
@media screen and (max-width: 600px) {
    table {
         border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td:before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }

}
mat-button-toggle-group{
    cursor:pointer;
}

::ng-deep .mat-sort-header-container{
    justify-content: center;
}
/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
.widgetHolder{
  margin: 0 auto;
  .widgetHolder-content {
    padding: 20px;
  }
}